[user]
  name = thmsmlr
  email = millar.thomas@gmail.com
[color]
  ui = auto
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  st = status
  co = checkout
  di = diff
  dc = diff --cached
  aa = add --all :/
  amend = commit --amend

[core]
	editor = /usr/bin/vim
